@charset "utf-8";

.drop_down_menu{
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	font-size:28px;
	padding: 15px;
	margin: 0 auto;
}

.drop_down_menu .drop_down_inner{
	margin: 0 15%;
	text-align: center;
}
.drop_down_menu .drop_down_inner .drop_down_list{
	margin:10px;
	color: #ffffffff;
}

.drop_down_menu .drop_down_inner .drop_down_list:hover{
	margin:10px;
	color: #000000;
}

.drop_down_menu .drop_down_inner .drop_down_list li:hover a{
	color: #000000;
}

.drop_down_menu .drop_down_inner .depth3_wrap{
	margin: 10px;

}

.drop_down_menu .drop_down_inner .depth3_wrap .depth3_element{
	margin: 10px 0;
}

.depth3_element a{
	color: #ffffffaa;
}

